<section id="technologies">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Technologies Used</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center">
        <div class="service-box">
          <img data-wow-delay='.5s' class='wow bounceIn text-primary' src="/tech-images/javascript.png">
          <h3>Javascript</h3>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center">
        <div class="service-box">
          <img data-wow-delay='.7s' class='wow bounceIn text-primary' src="/tech-images/angular.png">
          <h3>AngularJS</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center">
        <div class="service-box">
          <img data-wow-delay='.1s' class='wow bounceIn text-primary' src="/tech-images/html5.png">
          <h3>HTML5</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center">
        <div class="service-box">
          <img data-wow-delay='1s' class='wow bounceIn text-primary' src="/tech-images/css3.png">
          <h3>CSS3</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center">
        <div class="service-box">
          <img data-wow-delay='.4s' class='wow bounceIn text-primary' src="/tech-images/bootstrap.png">
          <h3>Bootstrap</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center">
        <div class="service-box">
          <img data-wow-delay='.2s' class='wow bounceIn text-primary' src="/tech-images/bower.png">
          <h3>Bower</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center">
        <div class="service-box">
          <img data-wow-delay='.4s' class='wow bounceIn text-primary' src="/tech-images/firebase.png">
          <h3>Firebase</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center">
        <div class="service-box">
          <img data-wow-delay='.2s' class='wow bounceIn text-primary' src="/tech-images/github.png">
          <h3>Github</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center">
        <div class="service-box">
          <img data-wow-delay='.3s' class='wow bounceIn text-primary' src="/tech-images/grunt.png">
          <h3>Grunt</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center">
        <div class="service-box">
          <img data-wow-delay='.5s' class='wow bounceIn text-primary' src="/tech-images/jquery.png">
          <h3>jQuery</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center">
        <div class="service-box">
          <img data-wow-delay='.6s' class='wow bounceIn text-primary' src="/tech-images/lodash.png">
          <h3>Lodash</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center">
        <div class="service-box">
          <img data-wow-delay='.7s' class='wow bounceIn text-primary' src="/tech-images/npm.png">
          <h3>NPM</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center">
        <div class="service-box">
          <img data-wow-delay='.8s' class='wow bounceIn text-primary' src="/tech-images/sass-logo-new.png">
          <h3>SASS</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center">
        <div class="service-box">
          <img data-wow-delay='.8s' class='wow bounceIn text-primary' src="/tech-images/small-csharp.png">
          <h3>C#</h3>
        </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center">
        <div class="service-box">
          <img data-wow-delay='.8s' class='wow bounceIn text-primary' src="/tech-images/salesforce_logo.png">
          <h3>Salesforce</h3>
        </div>
      </div>


    </div>
  </div>
</section>
</br>